.about {

  &__content {

    h2 {
      text-align: center;
      margin-bottom: 80px;
    }

    dl {
      flex: 1;
    }

    dt {
      margin-bottom: 16px;
    }

    about-tab-title {
      display: block;
    }

    about-tab-content {
      padding: 0 20px;
    }

    about-tab.opened about-tab-title {
      margin-bottom: 20px;
    }

    about-tab-item {
      display: inline-block;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__dog-row {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;

    margin-bottom: 16px;
  }

  &__figures {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__left {
    flex: 0 1 820px;
    font-size: 24px;
    line-height: 140%;
  }

  &__right {
    flex: 0 1 680px;
    font-size: 18px;
    line-height: 150%;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__tab-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}