.about {

  &__content {

    h2 {
      text-align: center;
      margin-bottom: 80px;
    }

    dl {
      flex: 1;
    }

    dt {
      margin-bottom: 16px;
    }

    about-tab-title {
      display: block;

      &::after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-image: url("../images/chevron.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        position: absolute;
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    about-tab-content {
      display: block;
      padding: 0 20px;

      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      transition: 0.6s;
    }

    about-tab.opened about-tab-content {
      grid-template-rows: 1fr;
    }

    about-tab.opened about-tab-title {
      margin-bottom: 20px;
    }

    about-tab.closed about-tab-title:not(:hover) {
      background-color: unset;
    }

    about-tab.closed about-tab-title::after {
      transform: translateY(-50%) rotate(180deg);
    }

    about-tab-item {
      display: inline-block;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__dog-row {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;

    margin-bottom: 16px;
  }

  &__figures {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__left {
    flex: 0 1 820px;
    font-size: 24px;
    line-height: 140%;
  }

  &__right {
    flex: 0 1 680px;
    font-size: 18px;
    line-height: 150%;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__tab-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}