.formats {

  &__content {
    h2 {
      text-align: center;
      margin-bottom: 80px;

      @media (max-width: $forDesktop) {
        margin-bottom: 60px;
      }

      @media (max-width: $forMobile) {
        margin-bottom: 40px;
      }
    }

    h3 {
      margin-bottom: 16px;

      @media (max-width: $forMobile) {
        margin-bottom: 12px;
      }
    }

    p {
      margin-bottom: 24px;

      @media (max-width: $forMobile) {
        margin-bottom: 20px;
      }
    }
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media (max-width: $forTablet) {
      gap: 60px;
    }
  }

  &__row {
    display: flex;
    gap: 80px;
    width: 100%;
    position: relative;

    @media (max-width: $forDesktop) {
      gap: 40px;
    }

    @media (max-width: $forTablet) {
      flex-direction: column;
    }

    @media (max-width: $forMobile) {
      gap: 24px;
    }

    &:nth-of-type(2n) {
      flex-direction: row-reverse;

      @media (max-width: $forTablet) {
        flex-direction: column;
      }

    }
  }

  &__image {
    flex: 1;
    border-radius: 60px;
    width: 100%;
    aspect-ratio: 760/300;
    overflow: hidden;

    @media (max-width: $forDesktop) {
      aspect-ratio: 560/415;
    }

    @media (max-width: $forTablet) {
      aspect-ratio: 760/300;
    }

    @media (max-width: $forMobile) {
      border-radius: 40px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__text {
    flex: 1;
  }

  &__badges {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: $forDesktop) {
      gap: 16px;
    }

    @media (max-width: $forMobile) {
      gap: 12px;
    }

    span {
      display: inline-block;
    }
  }

  .item-size {
    cursor: unset;
  }
}


.formats {
  &__cat {
    position: absolute;
    bottom: 100%;
    left: 347px;

    @media (max-width: $forDesktop) {
      left: 200px;
    }

    @media (max-width: $forTablet) {
      width: 75px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: $forMobile) {
      width: 50px;
    }
  }

  &__ducks {
    position: absolute;
    bottom: 99%;
    right: 44px;

    @media (max-width: $forTablet) {
      width: 100px;
      bottom: 99.5%;
    }

    @media (max-width: $forMobile) {
      width: 66px;
    }
  }

  .pen {
    bottom: 90%;
    left: 700px;

    @media (max-width: $forDesktop) {
      left: 470px;
    }

    @media (max-width: $forTablet) {
      width: 50px;
      left: 90%;
      bottom: 95%;
    }
  }

  .cup {
    bottom: 95%;

    @media (max-width: $forTablet) {
      width: 40px;
      bottom: 96%;
    }

    @media (max-width: $forMobile) {
      width: 30px;
    }
  }

  .dino {

    @media (max-width: $forTablet) {
      width: 60px;
    }

    @media (max-width: $forTablet) {
      width: 50px;
    }
  }

  .python {
    bottom: 90%;

    @media (max-width: $forTablet) {
      width: 50px;
      bottom: 96%;
    }
  }
}




.formats {

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    button {
      background-color: unset;
      border: 2px solid #aa80f1;
      color: #aa80f1;

      &:hover {
        background-color: #aa80f1;
        color: white;
      }

      @media (max-width: $forMobile) {
        display: block;
        width: 100%;
      }
    }

    @media (max-width: $forMobile) {
      flex-direction: column;
    }
  }

  &__price-left {
    flex: 1;

    img {
      display: block;
      height: 50px;

      @media (max-width: $forMobile) {
        margin: 0 auto;
        height: 40px;
      }
    }

    span {
      font-size: 18px;
      color: #959595;

      @media (max-width: $forMobile) {
        text-align: center;
      }
    }
  }

  &__price-right {
    flex: 1;

    @media (max-width: $forMobile) {
      display: block;
      width: 100%;
    }
  }

  formats-plan {
    display: block;
    border-radius: 60px;
    padding: 40px 30px;
    position: relative;
    transition: 0.5s;

    &:not(.with-crown) {
      border: 2px solid #e5e5e5;
    }

    h3 {
      margin-bottom: 16px;
      text-align: center;
      transition: 0.3s;
    }

    ul {
      margin-bottom: 24px;
    }

    li {
      transition: 0.3s;

      &::before {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        background-color: black;
        border-radius: 100%;
        margin-right: 8px;
        vertical-align: middle;
        transition: 0.3s;
      }

      &.purple {
        color: #aa80f1;
        transition: 0.5s;
      }
    }

    formats-price {
      transition: 0.5s;
    }

    button {
      background-color: unset;
      border: 2px solid #aa80f1;
      color: #aa80f1;
    }

    &:hover {
      background-color: #aa80f1;

      h3 {
        color: white;
      }

      li {
        color: white;
      }

      li::before {
        background-color: white;
      }

      li.purple {
        color: white;
      }

      formats-price {
        color: white;
      }

      button {
        border-color: white;
        color: white;

        &:hover {
          background-color: white;
          color: #aa80f1;
        }
      }
    }

    &.with-crown::before {
      content: "";
      width: 40px;
      height: 40px;
      background-image: url("../images/formats-crown.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      position: absolute;
      top: 0px;
      left: 50%;

      transform: translateX(-50%) translateY(-50%);
    }
  }

  formats-price {
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #aa80f1;
    margin-bottom: 24px;

    span {
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      color: rgba(149, 149, 149, 1);
    }
  }

  &__slider {
    position: relative;

    display: none;
    margin-top: -40px;

    &.active {
      display: block;
    }
  }

  // ------------------------

  .swiper {
    padding-top: 20px;
  }

  .swiper-slide {
    overflow: visible;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 45%;
    z-index: 5;

    @media (max-width: $forMobile) {
      display: none;
    }
  }

  .swiper-button-prev {
    left: -60px;
    transform: scaleX(-1);
  }

  .swiper-button-next {
    right: -60px;
  }

  .swiper-button-disabled {
    visibility: hidden;
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    margin-top: 24px;

    @media (min-width: $forMobile) {
      display: none;
    }
  }

  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: rgba(229, 229, 229, 1);
  }

  .swiper-pagination-bullet-active {
    background: rgba(170, 128, 241, 1);
  }

  .swiper-scrollbar {
    height: 3px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(229, 229, 229);

    @media (max-width: $forMobile) {
      display: none;
    }
  }

  .swiper-scrollbar-lock {
    display: none;
  }

  .swiper-scrollbar-drag {
    height: 100%;
    border-radius: 10px;
    background: rgb(170, 128, 241);
  }
}

.formats .formats__slider {

  chooser-main-select {
    margin-bottom: 20px;
  }

  .chooser__select.opened chooser-content {
    margin-bottom: 20px;
  }

}