.potential {
  margin-bottom: 80px;

  @media (max-width: $forMobile) {
    background: #aa80f1;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__content {
    border-radius: 60px;
    padding: 120px 140px;
    background: #aa80f1;

    @media (max-width: $forDesktop) {
      padding: 140px 100px 80px 100px;
    }

    @media (max-width: $forTablet) {
      padding: 210px 60px 80px 60px;
      margin: 0 -30px;
    }

    @media (max-width: $forMobile) {
      max-width: 320px;
      margin: 0 auto;
      padding: 170px 0 80px 0;
      border-radius: unset;
    }

    h2 {
      margin-bottom: 24px;
      color: white;

      @media (max-width: $forDesktop) {
        margin-bottom: 12px;
      }
    }

    h2+p {
      font-size: 24px;
      line-height: 140%;

      @media (max-width: $forDesktop) {
        font-size: 22px;
      }

      @media (max-width: $forMobile) {
        font-size: 18px;
      }

      span {
        display: block;
        text-transform: uppercase;
      }
    }

    chooser-tab {
      border: 2px solid white;
      color: white;
    }

    chooser-tab:hover {
      background-color: white;
      color: #000;
    }

    chooser-tab.active {
      background-color: white;
      color: #000;
    }

    chooser-main-select {
      border: 2px solid white;
      background-color: unset;
      color: white;
      margin-bottom: 20px;

      &::after {
        background-image: url("../images/chevron-white.svg");
      }
    }

    chooser-main-select:hover {
      background-color: white;
      color: #000;

      &::after {
        background-image: url("../images/chevron.svg");
      }
    }

    chooser-content {
      padding: 0 20px;
    }

    chooser-course {
      display: inline-block;
      border: 2px solid white;
      color: white;
    }

    chooser-course:hover {
      background-color: white;
      color: #000;
    }

    .chooser__select.opened chooser-content {
      margin-bottom: 24px;
    }

    .chooser__select.opened chooser-main-select {
      background-color: white;
      color: #000;
    }

    .chooser__select.opened chooser-main-select::after {
      background-image: url("../images/chevron.svg");
    }

    input:not([type="checkbox"]) {
      flex: 1;

      display: block;
      border: 2px solid #fff;
      background-color: unset;
      border-radius: 100px;
      padding: 20px 32px;

      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #fff;

      &::placeholder {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        opacity: 0.5;
      }

      @media (max-width: $forMobile) {
        padding: 18px 24px;
      }
    }

    input:hover::placeholder {
      opacity: 1;
    }

    input[type="checkbox"] {
      accent-color: white;
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      color: white;

      a {
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }

    button {
      background-color: white;
      color: #aa80f1;
      margin-bottom: 24px;

      &:hover {
        background-color: white;
        color: #aa80f1;
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: $forTablet) {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__left {
    flex: 0 1 540px;
    color: white;
    position: relative;

    padding-top: 180px;

    @media (max-width: $forDesktop) {
      padding-top: 140px;
    }

    @media (max-width: $forTablet) {
      padding-top: 0;
      flex: unset;
      text-align: center;
      max-width: 480px;
      margin: 0 auto;
    }
  }

  &__right {
    flex: 0 1 680px;

    @media (max-width: $forDesktop) {
      flex: 0 0 650px;
    }

    @media (max-width: $forTablet) {
      flex: unset;
    }
  }

  &__form-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;

    @media (max-width: $forMobile) {
      flex-direction: column;
    }
  }
}



.potential {

  &__bulb {
    position: absolute;
    top: -32px;
    left: 0;

    @media (max-width: $forDesktop) {
      top: 0;
    }

    @media (max-width: $forTablet) {
      top: -150px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (max-width: $forMobile) {
      width: 52px;
      top: -112px;
    }
  }

  &__arrow {
    position: absolute;
    top: -88px;
    right: -88px;
    transform: rotate(27deg);

    @media (max-width: $forDesktop) {
      width: 290px;
      top: -140px;
      right: -100px;
    }

    @media (max-width: $forTablet) {
      display: none;
    }
  }
}