.studying {

  &__content {
    h3 {
      margin-bottom: 16px;
    }

    dl {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (max-width: $forTablet) {
        max-width: 480px;
        width: 100%;
        margin: 0 auto;
      }
    }

    dt {
      display: flex;
      align-items: center;
      gap: 20px;

      font-size: 56px;
      line-height: 1.2;
      font-family: "Handjet", sans-serif;
      color: #AA80F1;

      @media (max-width: $forDesktop) {
        font-size: 42px;
      }

      @media (max-width: $forMobile) {
        font-size: 38px;
      }
    }

    article {
      padding: 40px;
      padding-bottom: 0;
      border-radius: 60px;
      height: 100%;

      display: flex;
      flex-direction: column;

      p {
        margin-bottom: 40px;
      }

      img {
        display: block;
        margin: 0 auto;
        margin-top: auto;
      }

      li {
        list-style-type: disc;
        list-style-position: inside;
      }
    }

    article.--blue {
      color: white;
      background-color: #AA80F1;

      h3 {
        color: white;
      }
    }

    article.--white {
      padding-bottom: 40px;
      border: 2px solid #7EC0F1;
    }

    article.--big {
      grid-row: 2 / 6;
      grid-column: 2;

      @media (max-width: $forTablet) {
        grid-row: unset;
        grid-column: unset;
      }
    }

    studying-step {
      font-size: 78px;
      line-height: 1.2;
      color: white;
      font-family: "Handjet", sans-serif;
      text-shadow:
        -4px -4px 0 #AA80F1,
        0 -4px 0 #AA80F1,
        4px -4px 0 #AA80F1,
        4px 0 0 #AA80F1,
        4px 4px 0 #AA80F1,
        0 4px 0 #AA80F1,
        -4px 4px 0 #AA80F1,
        -4px 0 0 #AA80F1;

      @media (max-width: $forMobile) {
        font-size: 68px;
      }
    }
  }

  &__grid {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;

    @media (max-width: $forDesktop) {
      margin-top: 60px;
    }

    @media (max-width: $forTablet) {
      grid-template-columns: 1fr;
    }

    @media (max-width: $forMobile) {
      margin-top: 40px;
      gap: 40px;
    }
  }

  &__button-trigger {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
  }

  &__button-trigger.--center {
    display: flex;
    justify-content: center;

    button {
      width: unset;
    }
  }
}



.studying {
  &__steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 140px;

    max-width: 1220px;
    margin: 0 auto;

    @media (max-width: $forTablet) {
      grid-template-columns: 1fr;
    }

    @media (max-width: $forMobile) {
      gap: 20px;
    }
  }

  &__single-step {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 20px 40px;
    border-radius: 40px;
    border: 2px solid #AA80F1;

    position: relative;

    @media (max-width: $forMobile) {
      padding: 20px;
    }
  }

  &__single-step::before,
  &__single-step::after {
    content: "";
    display: block;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    top: 50%;

    transform: translateY(-50%);
  }

  &__single-step:nth-child(2n + 1)::before {
    width: 60px;
    height: 60px;
    background-image: url("/public/images/subjects/studying-steps-short-arrow.svg");
    right: calc(100% + 20px);
  }

  &__single-step:nth-child(2n + 1)::after {
    width: 100px;
    height: 60px;
    background-image: url("/public/images/subjects/studying-steps-long-arrow.svg");
    left: calc(100% + 20px);
  }

  &__single-step:nth-child(2n)::after {
    width: 60px;
    height: 60px;
    background-image: url("/public/images/subjects/studying-steps-dashed-line.svg");
    left: calc(100% + 20px);
  }

  &__single-step:first-child::before {
    width: 60px;
    height: 60px;
    background-image: url("/public/images/subjects/studying-steps-start.svg");
    right: calc(100% + 20px);
  }

  &__single-step:last-child::after {
    width: 60px;
    height: 60px;
    background-image: url("/public/images/subjects/studying-steps-end.svg");
    right: calc(100% + 20px);
  }



  @media (max-width: $forTablet) {
    &__single-step:nth-child(n)::before {
      width: 60px;
      height: 60px;
      right: calc(100% + 10px);
      background-image: url("/public/images/subjects/studying-steps-short-arrow.svg");
    }

    &__single-step:nth-child(n)::after {
      width: 60px;
      height: 60px;
      left: calc(100% + 10px);
      background-image: url("/public/images/subjects/studying-steps-short-arrow.svg");
    }

    &__single-step:first-child::before {
      width: 60px;
      height: 60px;
      background-image: url("/public/images/subjects/studying-steps-start.svg");
      right: calc(100% + 10px);
    }

    &__single-step:last-child::after {
      width: 60px;
      height: 60px;
      background-image: url("/public/images/subjects/studying-steps-end.svg");
      right: calc(100% + 10px);
    }
  }



  @media (max-width: $forMobile) {
    .studying__single-step:nth-child(n)::before {
      width: 30px;
      height: 30px;
    }

    .studying__single-step:nth-child(n)::after {
      width: 30px;
      height: 30px;
    }
  }
}



.studying-special {

  &__content {
    max-width: 1380px;
    margin: 0 auto;

    h2 {
      margin-bottom: 20px;
    }

    button {
      margin-top: 60px;

      @media (max-width: $forTablet) {
        margin-top: 40px;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: $forTablet) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 0 1 680px;

    @media (max-width: $forTablet) {
      flex: unset;
    }
  }

  &__right {
    flex: 0 1 540px;

    @media (max-width: $forTablet) {
      flex: unset;
    }
  }
}