:root {
  --font-family: "Raleway", sans-serif;
}

$forDesktop : 1740px; // 1660 + 40 + 40
$forTablet : 1260px; // 1180 + 40 + 40
$forMobile : 768px;
$minimum : 400px;

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000;
  min-width: $minimum;

  @media (max-width: $forDesktop) {
    font-size: 16px;
  }

  @media (max-width: $forMobile) {
    font-size: 14px;
  }

  &.burger-is-opened {
    overflow: hidden;
  }

  &.popup-is-opened {
    overflow: hidden;
  }
}

my-container {
  display: block;
  max-width: $forDesktop;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;

  @media (max-width: $forDesktop) {
    max-width: $forTablet;
  }

  @media (max-width: $forTablet) {
    max-width: $forMobile;
  }

  @media (max-width: $forMobile) {
    max-width: $minimum;
  }
}

section {
  padding: 80px 0;

  @media (max-width: $forDesktop) {
    padding: 70px 0;
  }

  @media (max-width: $forTablet) {
    padding: 60px 0;
  }

  @media (max-width: $forMobile) {
    padding: 50px 0;
  }
}

h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 68px;
  line-height: 120%;
  color: #000;

  @media (max-width: $forDesktop) {
    font-size: 52px;
  }

  @media (max-width: $forMobile) {
    font-size: 42px;
  }
}

h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #000;

  @media (max-width: $forDesktop) {
    font-size: 38px;
  }

  @media (max-width: $forMobile) {
    font-size: 32px;
  }
}

h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: #000;

  @media (max-width: $forDesktop) {
    font-size: 24px;
  }

  @media (max-width: $forMobile) {
    font-size: 22px;
  }
}

.btn {
  width: 100%;

  border-radius: 100px;
  padding: 20px 32px;
  background-color: #aa80f1;

  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: $forDesktop) {
    font-size: 16px;
  }

  @media (max-width: $forMobile) {
    font-size: 14px;
  }

  &:hover {
    background-color: #8c62d3;
  }

  &:active {
    background-color: #c89eff;
  }
}

.tab-size {
  border-radius: 100px;
  padding: 20px 32px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  // text-align: center;
  text-align: left;

  @media (max-width: $forMobile) {
    padding: 18px 24px;
    text-align: left;
  }
}

.tab-size-small {
  border-radius: 100px;
  padding: 10px 24px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;

  font-size: 18px;

  @media (max-width: $forDesktop) {
    font-size: 16px;
  }

  @media (max-width: $forMobile) {
    font-size: 14px;
  }
}

.item-size {
  border-radius: 100px;
  padding: 10px 32px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;

  @media (max-width: $forMobile) {
    padding: 10px 24px;
  }
}