.bg-blue {
  background-color: #7ec0f1;
}

.ol-blue {
  border: 2px solid #7ec0f1;
}

.hover-blue:hover {
  background-color: #7ec0f1;
}



.bg-yellow {
  background-color: #ffd66c;
}

.ol-yellow {
  border: 2px solid #ffd66c;
}

.hover-yellow:hover {
  background-color: #ffd66c;
}



.bg-red {
  background-color: #f1807e;
}

.ol-red {
  border: 2px solid #f1807e;
}

.hover-red:hover {
  background-color: #f1807e;
}



.ol-purple {
  border: 2px solid #aa80f1;
}



.bg-design {
  background-color: #F17EEC;
}

.ol-design {
  border: 2px solid #F17EEC;
}

.hover-design:hover {
  background-color: #F17EEC;
}



.bg-chess {
  background-color: #F1BC7E;
}

.ol-chess {
  border: 2px solid #F1BC7E;
}

.hover-chess:hover {
  background-color: #F1BC7E;
}



.bg-soft {
  background-color: #7EF1EA;
}

.ol-soft {
  border: 2px solid #7EF1EA;
}

.hover-soft:hover {
  background-color: #7EF1EA;
}



.bg-cyber {
  background-color: #1E0065;
  color: white;

  &:hover {
    color: white !important;
  }
}

.ol-cyber {
  border: 2px solid #1E0065;
}

.hover-cyber:hover {
  background-color: #1E0065;
  color: white !important;
}



.bg-speech {
  background-color: #E8F17E;
}

.ol-speech {
  border: 2px solid #E8F17E;
}

.hover-speech:hover {
  background-color: #E8F17E;
}



.bg-else {
  background-color: #F1BC7E;
}

.ol-else {
  border: 2px solid #F1BC7E;
}

.hover-else:hover {
  background-color: #F1BC7E;
}