.header {
  padding-top: 40px;

  &__content {

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left a:hover {
    opacity: 0.6;
  }

  &__right {
    max-width: 760px;
    width: 100%;

    a {
      display: block;
      padding: 5px 10px;

      &:hover {
        color: #aa80f1;
      }

      &:active {
        color: #959595;
      }
    }
  }
}