.popup-time {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 0;

  overflow: auto;
  display: none;

  &.opened {
    display: block;
  }

  &__content {
    max-width: 840px;
    margin: 0 auto;
    border-radius: 60px;
    padding: 80px;
    background: #fff;
    position: relative;

    @media (max-width: $forTablet) {
      margin: 0 -30px;
      padding: 60px 40px;
      border-radius: 40px;
    }

    @media (max-width: $forMobile) {
      padding: 60px 30px;
    }

    h3 {
      max-width: 420px;
      margin: 0 auto;
      text-align: center;

      margin-bottom: 40px;
    }
  }

  chooser-main-select {
    margin-bottom: 20px;
  }

  chooser-content {
    padding: 0 20px;
  }

  chooser-course {
    display: inline-block;
  }

  .chooser__select.opened chooser-content {
    margin-bottom: 24px;
  }

  .chooser__select.opened chooser-main-select::after {
    background-image: url("../images/chevron.svg");
  }

  input:not([type="checkbox"]),
  textarea {
    flex: 1;

    display: block;
    border: 2px solid #e5e5e5;
    background-color: unset;
    border-radius: 100px;
    padding: 20px 32px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #959595;
    }

    @media (max-width: $forMobile) {
      padding: 18px 24px;
    }
  }

  input:hover::placeholder {
    color: #000;
  }

  input[type="checkbox"] {
    accent-color: unset;
  }

  textarea {
    width: 100%;
    height: 240px;
    resize: none;
    margin-bottom: 24px;
    padding: 40px 32px;
    border-radius: 40px;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    a {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  // -------------

  &__form-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;

    @media (max-width: $forMobile) {
      flex-direction: column;
    }
  }

  &__close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;

    @media (max-width: $forMobile) {
      top: 20px;
      right: 20px;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .tab-size {
    text-align: left;
  }
}