@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.min-h-0 {
  min-height: 0;
}

/*--------------------*/
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  overflow: hidden;
  flex-shrink: 0;
  display: grid;
}

.swiper-horizontal {
  touch-action: pan-y;
}

:root {
  --font-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000;
}

my-container {
  display: block;
  max-width: 1700px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 68px;
  line-height: 120%;
  color: #000;
}

h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #000;
}

.btn {
  width: 100%;
  border-radius: 100px;
  padding: 20px 32px;
  background-color: #aa80f1;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

.tab-size {
  border-radius: 100px;
  padding: 20px 32px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.item-size {
  border-radius: 100px;
  padding: 10px 32px;
  position: relative;
  transition: 0.3s;
}

.bg-blue {
  background-color: #7ec0f1;
}

.bg-yellow {
  background-color: #ffd66c;
}

.bg-red {
  background-color: #f1807e;
}

.ol-blue {
  border: 2px solid #7ec0f1;
}

.ol-yellow {
  border: 2px solid #ffd66c;
}

.ol-red {
  border: 2px solid #f1807e;
}

.chooser__tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 24px;
}
.chooser__tab:not(.active):not(:hover) {
  background-color: unset;
}
.chooser__select.shown {
  display: block;
}
.chooser__select.hidden {
  display: none;
}
.chooser__select.opened .chooser__content {
  grid-template-rows: 1fr;
}
.chooser__select.opened chooser-main-select::after {
  transform: translateY(-50%) rotate(180deg);
}
.chooser__select.opened .chooser__title {
  grid-template-rows: 1fr;
}
.chooser__select.closed .chooser__title:not(:hover) {
  background-color: unset;
}
.chooser__title::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../images/chevron.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
}
.chooser__content {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: 0.6s;
}
.chooser__courses-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header {
  padding-top: 40px;
}
.header__content ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__content a {
  display: block;
  padding: 5px 10px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right {
  max-width: 760px;
  width: 100%;
}

.intro__content h1 {
  margin-bottom: 32px;
}
.intro__content h1 + p {
  font-size: 24px;
  line-height: 140%;
  max-width: 420px;
  position: relative;
  margin-bottom: 60px;
}
.intro__content h1 + p b {
  font-weight: 500;
  text-transform: uppercase;
}
.intro__content h1 + p::after {
  content: "";
  display: block;
  width: 190px;
  height: 160px;
  background-image: url("../images/intro-arrow.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 100%;
  top: -20px;
  transform: rotate(62deg);
}
.intro__content chooser-tab {
  display: block;
}
.intro__content chooser-main-select {
  display: block;
  margin-bottom: 20px;
}
.intro__content chooser-content {
  padding: 0 20px;
  position: absolute;
  background-color: white;
  z-index: 2;
}
.intro__content chooser-course {
  display: inline-block;
}
.intro__content button {
  max-width: 680px;
}
.intro__row {
  display: flex;
  align-items: center;
  gap: 60px;
}
.intro__chooser {
  max-width: 680px;
  margin-bottom: 24px;
}
.intro__left {
  flex: 0 1 780px;
}
.intro__right {
  flex: 0 1 820px;
}
.intro .chooser__select {
  position: relative;
}

.about__content h2 {
  text-align: center;
  margin-bottom: 80px;
}
.about__content dl {
  flex: 1;
}
.about__content dt {
  margin-bottom: 16px;
}
.about__content about-tab-title {
  display: block;
}
.about__content about-tab-content {
  padding: 0 20px;
}
.about__content about-tab.opened about-tab-title {
  margin-bottom: 20px;
}
.about__content about-tab-item {
  display: inline-block;
}
.about__row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.about__text {
  margin-bottom: 60px;
}
.about__dog-row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  margin-bottom: 16px;
}
.about__figures {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.about__left {
  flex: 0 1 820px;
  font-size: 24px;
  line-height: 140%;
}
.about__right {
  flex: 0 1 680px;
  font-size: 18px;
  line-height: 150%;
}
.about__tabs {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about__tab-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.reviews__content {
  max-width: 1380px;
  margin: 0 auto;
  position: relative;
}
.reviews__content h2 {
  text-align: center;
  margin-bottom: 80px;
}
.reviews__content blockquote span {
  display: block;
  font-style: italic;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 24px;
}
.reviews__content blockquote cite {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.reviews__content iframe {
  width: 100%;
  aspect-ratio: 540/680;
  flex: 0 1 540px;
}
.reviews__slide {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.reviews__video {
  flex: 0 1 540px;
  border-radius: 60px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.reviews__video:hover {
  opacity: 0.8;
}
.reviews__video::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../images/reviews-video-btn.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.reviews__video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.reviews__text {
  flex: 0 1 680px;
  padding: 60px 0;
}
.reviews__category {
  display: inline-block;
  margin-bottom: 40px;
}
.reviews__star-1 {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 200px;
  left: -24px;
  transform: rotate(-90deg);
}
.reviews__star-2 {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 120px;
  right: 24px;
}
.reviews__star-3 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 130px;
  right: -66px;
  transform: rotate(-45deg);
}
.reviews__book {
  width: 106px;
  position: absolute;
  bottom: 110px;
  left: 500px;
  transform: rotate(-16deg);
}

.reviews .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 12px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: -12px;
  position: relative;
  z-index: 4;
}
.reviews .swiper-pagination-bullet {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #e5e5e5;
}
.reviews .swiper-pagination-bullet-active {
  background-color: #aa80f1;
}
.reviews .swiper-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 40px;
  margin-top: -18px;
  margin-left: auto;
  position: relative;
  z-index: 4;
}
.reviews .swiper-button-prev {
  transform: scaleX(-1);
}
.reviews .swiper-button-prev,
.reviews .swiper-button-next {
  cursor: pointer;
}
.reviews .swiper-button-prev[aria-disabled=true],
.reviews .swiper-button-next[aria-disabled=true] {
  opacity: 0.4;
}

.banner__content {
  background-color: #ffd66c;
  padding: 100px 140px;
  border-radius: 60px;
  position: relative;
}
.banner__content h2 {
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
}
.banner__content p {
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 140%;
}
.banner__content p b {
  font-weight: 500;
  text-transform: uppercase;
}
.banner__content button {
  display: block;
  max-width: 540px;
  margin: 0 auto;
  background: #f1807e;
}

.banner__star-1, .banner__star-11 {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 88px;
}
.banner__star-2, .banner__star-12 {
  width: 74px;
  height: 74px;
  position: absolute;
  top: 265px;
}
.banner__pc-1, .banner__pc-11 {
  width: 86px;
  position: absolute;
  bottom: 80px;
}
.banner__star-1 {
  left: 232px;
}
.banner__star-11 {
  right: 232px;
}
.banner__star-2 {
  left: 375px;
}
.banner__star-12 {
  right: 375px;
}
.banner__pc-1 {
  left: 130px;
}
.banner__pc-11 {
  right: 130px;
}